# the sherlock config

# workload related
readonly WORKLOAD_RUNTIME=120 # In seconds (must be >= 60 for hammerdb)
readonly THREADS=6
readonly CLIENTS=6
readonly OUTPUT_INTERVAL=30
readonly SYSBENCH_NUMBER_OF_TABLES=150 # for PostgreSQL using sysbench 400 tables, 
readonly SYSBENCH_ROWS_IN_TABLE=10000  # each with 1000000 rows is roughly 100G in DB size
readonly SYSBENCH_NUMBER_OF_INSERTS=1
readonly SYSBENCH_NUMBER_OF_UPDATES=1
readonly SYSBENCH_NUMBER_OF_NON_INDEX_UPDATES=1
readonly SYSBENCH_READ_ONLY=off
readonly SYSBENCH_WRITE_ONLY=off
readonly PGBENCH_WORKLOAD_TYPE=70r30w # simple, 90r10w, 70r30w, or readonly
readonly PGBENCH_RUN_TYPE=time
readonly PGBENCH_RUN_TYPE_VAR=${WORKLOAD_RUNTIME}
readonly PGBENCH_VACUUM=yes
readonly PGBENCH_QUIET=no
readonly PGBENCH_SCALE=700
readonly PGBENCH_READ_ONLY=no
readonly HAMMERDB_WAREHOUSES=1
readonly HAMMERDB_BUILD_VU=1
readonly HAMMERDB_RUN_VU=5
readonly HAMMERDB_RAMPUP=60 # In seconds

# cluster related
readonly KUBE_CMD=oc
readonly NUMBER_OF_WORKERS=3
readonly DB_PER_WORKER=2
readonly WORKERS_LIST_FILE=~/workers
readonly SDS_LIST_FILE=~/ocs_nodes
#readonly PROJECT_NAME=postgresql
#readonly PROJECT_NAME=mysql
readonly PROJECT_NAME=sqlserver

# database related
readonly DB_TYPE=sqlserver
readonly DB_POD_PREFIX=sqlserver
readonly DB_PVC_PREFIX=sqlserver-pvc
#readonly DB_TYPE=postgresql
#readonly DB_POD_PREFIX=postgresql
#readonly DB_PVC_PREFIX=postgresql-pvc
#readonly DB_TYPE=mysql
#readonly DB_POD_PREFIX=mysql
#readonly DB_PVC_PREFIX=mysql-pvc
readonly PVC_SIZE=50Gi
readonly DB_POD_MEM=8Gi
readonly DB_POD_CPU=2
readonly DB_NAME=redhat
readonly DB_USERNAME=redhat
readonly DB_PASSWORD=redhat
readonly SA_PASSWORD=RHsqlserver2019
readonly STORAGE_CLASS=ocs-storagecluster-ceph-rbd

# stats related
readonly STATS=true
readonly STATS_INTERVAL=10
#readonly STATS_COUNT=$(((WORKLOAD_RUNTIME+10)/STATS_INTERVAL))
# list of the sds devices (seperated by space) that are used for the SDS
readonly SDS_DEVICES="nvme0n1 nvme1n1"
# list of the sds network interface/s (seperated by space) that are used by the SDS
readonly SDS_NETWORK_INTERFACES="eth0" 
readonly RBD_STATS=true

# script related
readonly DEBUG=false
