readonly KUBE_CMD=oc
readonly WORKERS_LIST_FILE=~/workers
readonly SDS_LIST_FILE=~/sds_nodes
readonly NUMBER_OF_WORKERS=3
readonly DB_PER_WORKER=2
readonly DB_POD_MEM=2Gi
readonly PVC_SIZE=50Gi
readonly DB_POD_CPU=1
readonly WORKLOAD_RUNTIME=300
readonly THREADS=2
readonly CLIENTS=2
readonly OUTPUT_INTERVAL=10
readonly HAMMERDB_WAREHOUSES=50
readonly HAMMERDB_BUILD_VU=50
readonly HAMMERDB_RUN_VU=50
readonly HAMMERDB_RAMPUP=60
readonly HAMMERDB_RAISE_ERROR=false
readonly SA_PASSWORD=RHsqlserver2019
readonly BENCHMARK_POD_MEM_LIMIT=2Gi
readonly NAMESPACE_NAME=sqlserver
readonly DB_TYPE=sqlserver
readonly DB_POD_PREFIX=sqlserver
readonly DB_PVC_PREFIX=sqlserver-pvc
readonly DB_NAME=sherlock
readonly DB_USERNAME=sherlock
readonly DB_PASSWORD=sherlock
readonly STATS=false
readonly STATS_INTERVAL=10
readonly SDS_DEVICES="nvme0n1 nvme1n1"
readonly DEBUG=false
readonly SDS_NODE_TAINTED=false
readonly STORAGE_CLASS=my_storage_class
readonly STORAGE_VENDOR=lightbits
readonly STORAGE_TYPE=external
declare -A NODE_NETWORK_MAP=(
[rack04-server1]="ens785f0 ens785f1"
[rack04-server2]="ens785f0 ens785f1"
[rack04-server3]="ens785f0 ens785f1"
[rack04-server4]="ens785f2 ens785f3"
[rack04-server5]="ens785f0 ens785f1"
[rack04-server6]="ens785f0 ens785f1"
[rack04-server7]="ens785f0 ens785f1"
[rack04-server8]="ens785f2 ens785f3"
[rack04-server9]="ens785f0 ens785f1"
[rack04-server10]="ens785f0 ens785f1")
