readonly KUBE_CMD=oc
readonly WORKERS_LIST_FILE=~/workers
readonly SDS_LIST_FILE=~/sds_nodes
readonly NUMBER_OF_WORKERS=3
readonly DB_PER_WORKER=2
readonly DB_POD_MEM=2Gi
readonly PVC_SIZE=50Gi
readonly DB_POD_CPU=1
readonly WORKLOAD_RUNTIME=300
readonly THREADS=2
readonly CLIENTS=2
readonly OUTPUT_INTERVAL=10
readonly PGBENCH_WORKLOAD_TYPE=70r30w
readonly PGBENCH_RUN_TYPE=time
readonly PGBENCH_RUN_TYPE_VAR=${WORKLOAD_RUNTIME}
readonly PGBENCH_VACUUM=yes
readonly PGBENCH_QUIET=no
readonly PGBENCH_SCALE=700
readonly PGBENCH_READ_ONLY=no
readonly BENCHMARK_POD_MEM_LIMIT=2Gi
readonly NAMESPACE_NAME=postgresql
readonly DB_TYPE=postgresql
readonly DB_POD_PREFIX=postgresql
readonly DB_PVC_PREFIX=postgresql-pvc
readonly DB_NAME=redhat
readonly DB_USERNAME=redhat
readonly DB_PASSWORD=redhat
readonly STATS=false
readonly STATS_INTERVAL=10
readonly SDS_DEVICES="nvme0n1 nvme1n1"
readonly SDS_NETWORK_INTERFACES="eth0"
readonly RBD_STATS=false
readonly DEBUG=false
readonly SDS_NODE_TAINTED=false
readonly STORAGE_CLASS=ocs-storagecluster-ceph-rbd
